* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container {
    max-width: 1440px;
    margin: 40px auto;
}

.inside {
    width: 100%;
    display: flex;
}

.left-side {
    flex-basis: 55%;
}

.left-side .left {
    width: 100%;
    height: 850px;
    overflow: hidden;
    border-radius: 30px;
  
}

.leftimage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.right-side {
    flex-basis: 45%;
    background-color: black;
    
    
}

.right-side .rightsideheader h1 {
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}

.right-side .rightsideheader p {
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.rightsideheader {
    margin-top: 95px;
    margin-bottom: 50px;
}

.twobottoms {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.google {
    background-color: black;
    border: 1px solid  #333;;
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
}

.github { border: 1px solid  #333;;
    background-color: black;
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
}

.inputs {
background-color: #333;
    border: 1px solid black;
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.twoinputs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.last p, .first p {
    color:white;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

#firstinput, #lastinput {
    background-color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.google p, .github p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

#firstinput:focus, #lastinput:focus {
    outline: none;
}

input {
    border: none;
   
}
.emailinput:focus,, #lastinput:focus {
    outline: none;}

input::placeholder {
    background-color: #333;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.email {
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    width: 100%;
    margin-bottom: 30px;
}

.emailinput {
    
    background-color:#333 ;
    border: 1px solid black;
    width: 425px;
    padding: 15px;
    border-radius: 10px;
}



.thirdi {
    margin-bottom: 50px;
}

.email p, .password p {
    color: white;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.paragraph p {
    color: white;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.sign-up-button {
    width: 430px;
    padding: 15px;
    background-color:white;
    border-radius: 8px;
    color:#333;
    text-align: center;
    cursor: pointer;
    font-family: "Poppins", sans-serif;font-weight: 600;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.account {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.account p, a {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

    .pipe {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
   .get{
    margin-bottom: 12px;
   }

.textl p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}
.left-side .left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    position: relative;
}
.left-side .left .textandinputl{
    position: absolute;bottom: 100px;
}
.pipe i{color: white;}
.get h1{color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 500;
    font-size: 30px;
}
.pipe{margin-bottom: 30px;}
.complete p{ color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;}
    .cont p{color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 15px;}
        .textl{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 65px;
        }
    .button1 p{color:white;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 15px;
        
    }
    .button1{
        margin-bottom:10px ;
        width: 100%;
    padding: 15px;
    background-color:#333;
    border-radius: 12px;
    color:#333;
    text-align: center;
    cursor: pointer;
    font-family: "Poppins", sans-serif;font-weight: 300;transition: all 0.3s ease;
    }
    .circle{
        display: flex;
        gap: 20px;
        padding-left: 10px;
    }
    .circle .number{color: white;
        border: 1px solid #717171;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color:#717171;
    }.button1:hover {
        background-color: white;
        color: black;
    }
    
    .button1:hover .circle .number {
        background-color: black;
        color: white;
    }
    .button1 p:hover {
        color: black;
    }
    .textl{margin-bottom: 50px;}
    
.textl{width:350px}

.get h1{
    font-size: 36px;
}
.complete p{
    font-size: 18px;
}
.cont p{font-size: 18px;
}
a{
    text-decoration: none;
    font-weight: 600;
}
.account{gap:3px}